receivers:
  prometheus:
    config:
      scrape_configs:
        - job_name: "node"
          scrape_interval: 15s
          static_configs:
            - targets: ["127.0.0.1:9100"]

processors:
  batch: {}

exporters:
  prometheusremotewrite:
    endpoint: "__AMP_REMOTE_WRITE_URL__"
    auth:
      authenticator: sigv4auth

extensions:
  sigv4auth:
    region: __AWS_REGION__
    service: "aps"

service:
  extensions: [sigv4auth]
  pipelines:
    metrics:
      receivers: [prometheus]
      processors: [batch]
      exporters: [prometheusremotewrite]